page-share-us {
    .toolbar-title
    {
        font-size: 1.5em;
        margin-top: 0em;
    }
//     .toolbar ion-title
// {
//     padding-right: 1em;
//     // padding-top: 1.5em;
//     // margin-top: 1.2m;
// }

    div .toolbar-title
    {
        display: block;
        margin:auto;
    }

}
