<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button  ion-button clear (click)="clickOnMenu()">
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>Page</ion-title> -->
    <ion-buttons end>
        <button  ion-button clear (click)="clickOnCart()">
            <ion-icon name="cart"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h6 text-center>Today's Special</h6>
  
  <ion-scroll scrollX="true" style="width:100% ;height: 22em;">
    <div class="today">  
    <ion-card *ngFor="let card of todays">
      <ion-card-content>
          <img class="pic" src="../../assets/imgs/logo.png"> 
        <h6><b>Short description</b></h6>
        <p style="text-align: justify">Many desktop publishing packages and web page (injected humour and the like).</p>
        <p><b>Price</b></p>
        <p>4000$</p>
      </ion-card-content>
    </ion-card>
    </div>
  </ion-scroll>

  <h6 text-center>Popular Dishes</h6>

  <ion-scroll scrollX="true" style="width:100% ;height: 22em;">
      <div class="today">  
      <ion-card *ngFor="let card of todays">
        <ion-card-content>
            <img class="pic" src="../../assets/imgs/logo.png"> 
          <h6><b>Short description</b></h6>
          <p style="text-align: justify">Many desktop publishing packages and web page (injected humour and the like).</p>
          <p><b>Price</b></p>
          <p>7000$</p>
        </ion-card-content>
      </ion-card>
      </div>
    </ion-scroll>

    <h6 text-center>All Dishes</h6>

    <ion-scroll scrollX="true" style="width:100% ;height: 22em;">
        <div class="today">  
        <ion-card *ngFor="let card of todays">
          <ion-card-content>
              <img class="pic" src="../../assets/imgs/logo.png"> 
            <h6><b>Short description</b></h6>
            <p style="text-align: justify">Many desktop publishing packages and web page (injected humour and the like).</p>
            <p><b>Price</b></p>
            <p>8000$</p>
          </ion-card-content>
        </ion-card>
        </div>
      </ion-scroll>
  

</ion-content>
