
<ion-header>

  <ion-navbar>
      <!-- <ion-buttons start>
          <button  ion-button style="float:left;"clear (click)="clickOnMenu()">
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <button  ion-button style="float:right;" clear (click)="clickOnCart()">
          <ion-icon name="cart"></ion-icon>
      </button>
      <span  *ngIf="globals.cartCount!='0'" style="position:absolute;float:right; bottom: 1.7em;"><ion-badge>{{globals.cartCount}}</ion-badge></span>
  </ion-buttons> -->
  <ion-grid>
    <ion-row>
      <ion-col col-1>
        <button  ion-button style="float:right;" clear small (click)="clickOnMenu()">
          <ion-icon name="menu"></ion-icon>
      </button>
      </ion-col>
      <ion-col col-10>

      </ion-col>
      <ion-col col-1>
        <button  ion-button style="float:right;" clear small (click)="clickOnCart()">
          <ion-icon name="cart"></ion-icon>
      </button>
      <span *ngIf="globals.cartCount!='0'" style="position:absolute;float:right; bottom: 2.15em; right:0.9em;"><ion-badge>{{globals.cartCount}}</ion-badge></span>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col col-4 style="border: black 1px solid;">
                Date
            </ion-col>
            <ion-col col-4 style="border: black 1px solid;">
                Amount
            </ion-col>
            <ion-col col-4 style="border: black 1px solid;">
                Total Item Count
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of orders">
            <ion-col col-4 style="border: black 1px solid;">
                <p>{{item.date}}</p>
            </ion-col>
            <ion-col col-4 style="border: black 1px solid;">
                <p text-center>{{item.amount}}</p>
            </ion-col>
            <ion-col col-4 style="border: black 1px solid;">
                <p text-center>{{item.itemCount}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
