
<ion-header>

  <ion-navbar>
      <!-- <ion-buttons start>
          <button  ion-button style="float:left;"clear (click)="clickOnMenu()">
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <button  ion-button style="float:right;" clear (click)="clickOnCart()">
          <ion-icon name="cart"></ion-icon>
      </button>
      <span  *ngIf="globals.cartCount!='0'" style="position:absolute;float:right; bottom: 1.7em;"><ion-badge>{{globals.cartCount}}</ion-badge></span>
  </ion-buttons> -->
  <ion-grid>
    <ion-row>
      <ion-col col-1>
        <button  ion-button style="float:right;" clear small (click)="clickOnMenu()">
          <ion-icon name="menu"></ion-icon>
      </button>
      </ion-col>
      <ion-col col-10>

      </ion-col>
      <ion-col col-1>
        <button  ion-button style="float:right;" clear small (click)="clickOnCart()">
          <ion-icon name="cart"></ion-icon>
      </button>
      <span *ngIf="globals.cartCount!='0'" style="position:absolute;float:right; bottom: 2.15em; right:0.9em;"><ion-badge>{{globals.cartCount}}</ion-badge></span>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list *ngFor="let order of orders" style="border-bottom:1px grey solid;">
        <ion-grid>
            <ion-row row-2>
                <img style="border-radius: 10%;height: 4em;width: 4em;" src="../../assets/imgs/paneer.jpg">
                <span style="padding-left:0.4em;"><b>{{order.restaurent}}</b><br>
                ({{order.place}})<br>
                Order was made on {{order.date}}</span>
            </ion-row>
            <ion-row row-10>
               
            </ion-row>
            <ion-row>
                <ion-col>
                   {{order.order}}<br>
                   <b>Total Bill Rs{{order.amount}}</b>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

</ion-content>
